//BEGIN: Form-control
//BEGIN: Colors
$theme-primary-color: #002349;
$theme-secondary-color: #957c3d;
$color-white: #fff;
$color-light-grey: #ddd;
$color-save-btn-bg: #0e2746;
$color-save-btn-hover-bg: #0c3970;
$color-cancel-btn-bg: #e6e9ee;
$color-cancel-btn-hover-bg: #c5cfd9;
$color-add-btn-bg: #424858;
$color-add-btn-hover-bg: #586076;
$color-table-header-bg: #6f7994;
$color-table-border-color: #5d6884;
$color-table-alter-row-color: #e0e4ed;
$color-theme: #0d2746;
$color-red: #ff0000;
$color-red-light: #f66363;
$color-green: #26e22a;
$color-black: #000;
//BEGIN: Button Color
$color-save-btn-bg: #0e2746;
$color-save-btn-hover-bg: #0c3970;
$color-cancel-btn-bg: #e6e9ee;
$color-cancel-btn-hover-bg: #c5cfd9;
$color-add-btn-bg: #424858;
$color-add-btn-hover-bg: #586076;
//END: Button Color
//END: Colors
.form-group {
    margin-bottom: 1rem;
    label {
        font-weight: 500;
    }
}
.bottom-btn {
    border-top: 1px solid $color-light-grey;
    padding-top: 0.5rem;
    text-align: center;
    gap: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn-primary {
        background-color: $color-save-btn-bg;
        border-color: $color-save-btn-bg;
        &:hover {
            background-color: $color-save-btn-hover-bg;
            border-color: $color-save-btn-hover-bg;
        }
    }
}
//END: Form Control
