<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Aara Cottages</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="icon" href="~/newtheme/assets/images/logo/aara-fav.png">

    <!-- bootstrap v5.3.3 css -->
    <link href="~/newtheme/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />


    <!-- font-awesome css -->
    <link href="~/newtheme/assets/plugins/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- Theme Style -->
    <link href="~/newtheme/assets/css/aara.theme.min.css" rel="stylesheet" />

    <script src="~/newtheme/assets/plugins/jquery/jquery.min.js"></script>


</head>
<body>
    <!-- Overlay -->
    <div class="overlay"></div>
    <div class="lh-loader">
        <span class="loader"></span>
    </div>

    <!-- Header -->
    <header>
        <div class="lh-top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12  lh-top-social">
                        <div class="lh-mail">
                            <i class="fas fa-envelope"></i>
                            aaracottage@gmail.com
                        </div>
                        @*     <div class="lh-location">
                        <div class="custom-select">
                        <i class="fas fa-map-marker-alt"></i>
                        <select>
                        <option value="option1">Surat</option>
                        <option value="option2">Delhi</option>
                        <option value="option3">Rajkot</option>
                        <option value="option4">Udaipur</option>
                        </select>
                        </div>
                        </div> *@
                    </div>
                    <div class="col-lg-6 col-sm-12 lh-top-social">
                        <div class="lh-phone">
                            <i class="fas fa-phone-alt"></i>
                            8072172838
                        </div>
                        <div class="lh-header-icons">
                            <a href="javascript:void(0)"><i class="fab fa-facebook-square facebook"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-twitter-square twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-linkedin linkedin"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-instagram-square instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lh-header">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="~/newtheme/assets/images/logo/aarahotels.svg" class="lh-logo" alt="logo" />
                        </a>
                        <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                <li class="nav-item"><a class="nav-link" href="/home-page">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="about-us">About Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="contact-us">Contact Us</a></li>


                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Mobile-menu -->
    <div class="lh-sidebar-overlay"></div>
    <div id="lh_mobile_menu" class="lh-side-cart lh-mobile-menu">
        <div class="lh-menu-title">
            <span class="menu-title">My Menu</span>
            <button class="lh-close">×</button>
        </div>
        <div class="lh-menu-inner">
            <input type="text" placeholder="Search" class="lh-menu-box">
            <div class="lh-menu-content">
                <ul>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home Layout 1</a></li>
                            <li><a href="demo-2.html">Home Layout 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Categories</a>
                        <ul class="sub-menu">
                            <li><a href="gallery.html">gallery 1</a></li>
                            <li><a href="gallery-2.html">gallery 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Room</a>
                        <ul class="sub-menu">
                            <li><a href="room.html">Rooms</a></li>
                            <li><a href="room-2.html">Rooms 2</a></li>
                            <li><a href="room-details.html">Room Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="facilities.html">Facilities</a></li>
                            <li><a href="faq.html">Faq</a></li>
                            <li><a href="prices.html">Prices</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="spa.html">Spa</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="#" class="dropdown-list">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown drop-list">
                        <a href="restaurant.html">Restaurant</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-top-section">
                <div class="row">
                    <div class="col-lg-3 col-md-6 rs-pb-24 p-991 order-lg-1 order-md-2 order-2">
                        <div class="lh-footer-cols-contain">
                            <div class="lh-footer-heading">
                                <h4>Explore</h4>
                            </div>
                            <ul>
                                <li>
                                    <code>*</code>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <code>*</code>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <code>*</code>
                                    <a href="#">Contact Us</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 rs-pb-24 order-lg-2 order-md-1 order-1">
                        <div class="lh-social-media">
                            <div class="footer-logos">
                                <img src="~/newtheme/assets/images/logo/aarahotels.svg" class="" alt="logo" />
                            </div>
                            @*      <div class="lh-footer-social">
                            <p>This is the dolor sit amet consectetur adipisicing elit. Libero voluptatem soluta eaque
                            ullam accusantium animi!</p>
                            <form class="lh-control-footer" role="search">
                            <div class="lh-control-inner-icons">
                            <i class="ri-send-plane-line"></i>
                            </div>
                            <input class="form-control shadow-none me-4" type="search" placeholder="Subscribe..."
                            aria-label="Search">
                            </form>
                            </div> *@
                            <div class="lh-follow-social">
                                <h4 class="heading">Follow On Social</h4>
                                <div class="footer-logo-image">
                                    <a href="#"><img src="~/newtheme/assets/images/social-icon/facebook.png" alt="facebook"></a>
                                    <a href="#"><img src="~/newtheme/assets/images/social-icon/twitter.png" alt="twitter"></a>
                                    <a href="#"><img src="~/newtheme/assets/images/social-icon/instagram.png" alt="instagram"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 rs-pb-24 order-lg-3 order-md-3 order-3">
                        <div class="lh-footer-cols-contain ">
                            <div class="lh-footer-heading">
                                <h4>Contact Information</h4>
                            </div>
                            <div class="lh-footer-contact-infoemation">
                                <ul>
                                    <li class="lh-information">
                                        <h5 class="heading">Location</h5>
                                        <span>Aara Home Stay, Nilavoor Rd, Yelagiri, Tamil Nadu 635853</span>
                                    </li>
                                    <li class="lh-information">
                                        <h5 class="heading">Email</h5>
                                        <span>aaracottage@gmail.com</span>
                                    </li>
                                    <li class="lh-information">
                                        <h5 class="heading">Phone No</h5>
                                        <span>8072172838, 8760164055</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-copy">
                <span>Copyright &copy; <span id="copyright_year"></span> <a href="#">Aara Cottages</a> All Rights Reserved</span> <span>Powered by <a href="https://mindsparksoftsolutions.com/" target="_blank">Mind Spark Soft Solution</a></span>
            </div>
        </div>
    </footer>

    <!-- Tap to top -->
    <a href="#" class="back-to-top result-placeholder">
        <i class="fas fa-angle-up fa-fw"></i>
    </a>
    <!-- BEGIN: Page Script Refrences =========================== -->
    <!-- JQuery 3.7.1 -->
    <!-- BEGIN: Swiper -->
    <link href="~/newtheme/assets/plugins/swiper/css/swiper-bundle.min.css" rel="stylesheet" />
    <script src="~/newtheme/assets/plugins/swiper/js/swiper-bundle.min.js"></script>
    <script src="~/newtheme/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Magnific Pop -->
    <link href="~/newtheme/assets/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet" />
    <script src="~/newtheme/assets/plugins/magnific-popup/js/magnific-popup.min.js"></script>
    <!-- AOS -->
    @* <link href="~/newtheme/assets/plugins/aos/css/aos.css" rel="stylesheet" />
    <script src="~/newtheme/assets/plugins/aos/js/aos.js"></script> *@
    <!-- Sementic -->
    @* <link href="~/newtheme/assets/plugins/sementic/css/semantic.min.css" rel="stylesheet" />
    <script src="~/newtheme/assets/plugins/sementic/js/semantic.min.js"></script> *@
    <!-- Silck -->
    <link href="~/newtheme/assets/plugins/silck/css/slick.min.css" rel="stylesheet" />
    <script src="~/newtheme/assets/plugins/silck/js/slick.min.js"></script>
    @*   <script src="~/newtheme/assets/plugins/particles/js/particles.min.js"></script>
    <script src="~/newtheme/assets/js/app.js"></script> *@
    <!-- Theme Script -->
    <script src="~/newtheme/assets/js/aara.theme.js" asp-append-version="true"></script>
    <!-- END: Page Script Refrences =========================== -->

</body>
</html>
