@model AddRoomDTO
@{
    ViewData["Title"] = "AddRoom";
}

<h1>AddRoom</h1>

<div class="container">
    <form action="/add-room" method="POST">
        <label for="roomNumber">Room Number:</label>
        <input type="text" id="roomNumber" name="roomNumber" required>

        <label for="roomType">Room Type:</label>
        <select id="roomType" name="roomType" required>
            @foreach (var roomType in Model?.roomTypeModel)
            {
                <option value="@roomType.RoomTypeId">@roomType.TypeName</option>
            }
        </select>

        <label for="bedType">Bed Type:</label>
        <select id="bedType" name="bedType" required>
            @foreach (var bedType in Model?.bedTypeModel)
            {
                <option value="@bedType.BedTypeId">@bedType.TypeName</option>
            }
        </select>

        <label for="maxOccupancy">Max Occupancy:</label>
        <input type="number" id="maxOccupancy" name="maxOccupancy" required>

        <label for="rate">Rate:</label>
        <input type="number" id="rate" name="rate" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <button type="submit">Add Room</button>
    </form>
</div>
