@{
	Layout = "_BackOfficeLayout";
}
@{
    ViewData["Title"] = "Dashboard";

}

<!-- BEGIN: Slider Section ======================================== -->
<div class="owl-carousel owl-theme">
    <div class="item">
        <img src="assets/images/slider/slider2.jpg" alt="Aara Cottages ">
        <div class="cover">
            <div class="container">
                <div class="header-content">
                    <div class="line"></div>
                    <h1>Cottages in Yelagiri</h1>
                    <h4>Charming and Idyllic; a cottage break is the perfect getaway.</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Slider Section ========================================= -->