@{
    ViewData["Title"] = "About Us";
}
 <!-- BEGIN: Page Title Section ======================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>
<!-- END: Page Title Section ========================================= -->

<!-- BEGIN: About Page Section ==================================== -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6>Best cottage, Rooms, tent house service giving in Yelagiri Hills</h6>
            </div>
        </div>
    </div>
</section>
<!-- END: About Page Section ================================== -->