@{
    ViewData["Title"] = "About Us";
}
 <!-- BEGIN: Page Title Section ======================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>
<!-- END: Page Title Section ========================================= -->