@{
    ViewData["Title"] = "Contact Us";
}
<!-- BEGIN: Page Title Section ======================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>
<!-- END: Page Title Section ========================================= -->
<!-- BEGIN: Contact Section ================================ -->
<section class="contact-area d-flex flex-wrap align-items-center">
    <div class="home-map-area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3894.1058720649626!2d78.65037867858234!3d12.575270156002599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3badaaa7dcce0da5%3A0x65b4ded5311e32d3!2sAara%20Home%20Stay!5e0!3m2!1sen!2sin!4v1681540857396!5m2!1sen!2sin" allowfullscreen="" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Contact Info -->
    <div class="contact-info">
        <div class="section-heading wow fadeInUp" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
            <div class="line-"></div>
            <h2>Contact Info</h2>
            <p>We're excited to welcome you to our little slice of paradise. If you have any questions or would like to make a reservation, please don't hesitate to get in touch. We look forward to being a part of your next adventure. Please don't hesitate to reach out to us through any of the following means:.</p>
        </div>
        <h4 class="wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">Aara Home Stay, Nilavoor Rd, Yelagiri, Tamil Nadu 635853</h4>
        <h5 class="wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">8072172838, 8760164055</h5>
        <h5 class="wow fadeInUp" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">aaracottage@gmail.com</h5>
        <!-- Social Info -->
        <!--<div class="social-info mt-50 wow fadeInUp" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInUp;">
            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>-->
    </div>
</section>
<!-- END: Contact Section ============================== -->