@using System.Globalization;

@{
    ViewData["Title"] = "FeedBack";
    Layout = null;
}
<script src="~/assets/plugins/jquery/jquery.min.js"></script>

<link href="~/css/style.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/demo.css">
<script src="~/assets/js/frontoffice/feedback.js"></script>

<!-- BEGIN: Page Title Section ======================================== -->
@* <section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>FeedBack Information</h2>
            </div>
        </div>
    </div>
</section> *@

<!-- END: Page Title Section ========================================= -->
<!-- Include Font Awesome CSS -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="frmfeedback">
                <main class="cd__main">
                    <input type="hidden" value="@ViewBag.BookId" id="BookId" />
                    <!-- Start DEMO HTML (Use the following code into your project)-->
                    <div class="wrapper">
                        <div class="title">Rate your experience</div>
                        <div class="content">We highly value your feedback! Kindly take a moment to rate your experience and provide us with your valuable feedback.</div>
                        <div class="form-group">
                            <label>Hotel Rating</label>
                            <div class="rate-box">
                                <input type="radio" name="HotelRating" id="star0" value="1" />
                                <label class="star" for="star0"></label>
                                <input type="radio" name="HotelRating" id="star1" value="2" />
                                <label class="star" for="star1"></label>
                                <input type="radio" name="HotelRating" id="star2" value="3" checked="checked" />
                                <label class="star" for="star2"></label>
                                <input type="radio" name="HotelRating" id="star3" value="4" />
                                <label class="star" for="star3"></label>
                                <input type="radio" name="HotelRating" id="star4" value="5" />
                                <label class="star" for="star4"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Application Rating</label>
                            <div class="rate-box">
                                <input type="radio" name="ApplicationRating" id="star01" value="1" />
                                <label class="star" for="star01"></label>
                                <input type="radio" name="ApplicationRating" id="star12" value="2" />
                                <label class="star" for="star12"></label>
                                <input type="radio" name="ApplicationRating" id="star23" value="3" checked="checked" />
                                <label class="star" for="star23"></label>
                                <input type="radio" name="ApplicationRating" id="star34" value="4" />
                                <label class="star" for="star34"></label>
                                <input type="radio" name="ApplicationRating" id="star45" value="5" />
                                <label class="star" for="star45"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Feedback</label>
                            <textarea id="Comment" name="Comment" cols="30" rows="6" placeholder="Tell us about your experience!"></textarea>
                        </div>
                        <button type="button" onclick="SaveFeedBack()" class="btn submit-btn">Send</button>
                    </div>

                </main>
            </form>
        </div>

    </div>
</div>

<partial name="_ValidationScriptsPartial" />
<script src="~/assets/plugins/sweetalert/sweetalert.js"></script>
<script src="~/assets/js/ajaxconnector.js"></script>

<script>
    $(document).ready(function () {
        FeedBackpage.init();
    });
</script>



