@using System.Globalization;
@using Booking.Models;
@using Newtonsoft.Json;
@model BookMyRoomResultDTO
@{
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewData["Title"] = "Home Page";

    BookingQueryDTO bookingQueryDTO = new BookingQueryDTO();
    bookingQueryDTO.CheckInDate = @Model?.roomFilterDTO?.CheckInDate;
    bookingQueryDTO.CheckOutDate = @Model?.roomFilterDTO?.CheckOutDate;
    bookingQueryDTO.Adults = @Model?.roomFilterDTO?.Adults;
    bookingQueryDTO.Children = @Model?.roomFilterDTO?.Children;
    bookingQueryDTO.Rooms = @Model?.roomFilterDTO?.Rooms;
    string bookingQuery = JsonConvert.SerializeObject(bookingQueryDTO);
}

<!-- Hero -->
<section class="section-hero">
    <div class="container-fulid">
        <div class="row hero-image">
            <div class="hero-section">
                <div class="particles-bg" id="particles-js"></div>
                <div class="lh-hero-contain container">
                    <h4 data-aos="fade-up" data-aos-duration="1000">Luxury Hotel & Best Resort</h4>
                    <h1 data-aos="fade-up" data-aos-duration="1500">A Symphony of Comfort & Convenience.</h1>
                    <a class="lh-buttons result-placeholder" href="#rooms">
                        Room & suites
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- search-control -->
<section class="section-search-control">
    <div class="container">
        <form id="frmRoomFilter" asp-area="FrontOffice" asp-controller="BookMyRoom" asp-action="ViewMoreRooms">
            <div class="search-control-boxing">
                <div class="lh-col">
                    <div class="search-box">
                        <h4 class="heading">
                            Check in
                        </h4>
                        <div class="calendar" id="date_1">
                            <i class="ri-calendar-2-line"></i>
                            @* <input type="text" placeholder="Arrival Date" class="lh-book-form-control"> *@
                            <input asp-for="roomFilterDTO.CheckInDate" id="CheckInDate" type="text" class="form-control date-picker" placeholder="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="lh-col">
                    <div class="search-box">
                        <h4 class="heading">
                            Check Out
                        </h4>
                        <div class="calendar" id="date_2">
                            <i class="ri-calendar-2-line"></i>
                            @* <input type="text" placeholder="Leave Date" class="lh-book-form-control"> *@
                            <input asp-for="roomFilterDTO.CheckOutDate" id="CheckOutDate" type="text" class="form-control date-picker" placeholder="dd/mm/yyyy" />
                        </div>
                    </div>
                </div>
                <div class="lh-col">
                    <div class="search-box">
                        <h4 class="heading">
                            Adults
                        </h4>
                        <div class="custom-select">
                            <select asp-for="roomFilterDTO.Adults">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lh-col">
                    <div class="search-box">
                        <h4 class="heading">
                            Children
                        </h4>
                        <div class="custom-select">
                            <select asp-for="roomFilterDTO.Children">
                                <option>(Select)</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lh-col">
                    <div class="search-box">
                        <h4 class="heading">
                            Room Type
                        </h4>
                        <div class="custom-select">
                            <select asp-for="roomFilterDTO.RoomType">
                                <option value="-1">All</option>
                                <option value="1">AC</option>
                                <option value="2">NON-AC</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="lh-col-check">
                    <div class="search-control-button">
                        <a class="lh-buttons result-placeholder" onclick="$('#frmRoomFilter').submit();">
                            Check Now
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Room -->
<section class="section-room padding-tb-100" data-aos="fade-up" data-aos-duration="2000" id="rooms">
    <div class="container">
        <div class="banner">
            <h2>Choose Your Luxurious <span>Room</span></h2>
        </div>
        <nav>
            <div class="nav nav-tabs rooms lh-room" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-Deluxe-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Deluxe" type="button" role="tab" aria-controls="nav-Deluxe"
                        aria-selected="true">
                    <img src="~/newtheme/assets/images/rooms/1.jpg" alt="1">
                    Deluxe Room
                </button>
                <button class="nav-link" id="nav-Single-tab" data-bs-toggle="tab" data-bs-target="#nav-Single"
                        type="button" role="tab" aria-controls="nav-Single" aria-selected="false">
                    <img src="~/newtheme/assets/images/rooms/2.jpg" alt="2">
                    Single Room
                </button>
                <button class="nav-link" id="nav-Super-tab" data-bs-toggle="tab" data-bs-target="#nav-Super"
                        type="button" role="tab" aria-controls="nav-Super" aria-selected="false">
                    <img src="~/newtheme/assets/images/rooms/3.jpg" alt="3">
                    Super Room
                </button>
                <button class="nav-link" id="nav-Presidential-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Presidential" type="button" role="tab" aria-controls="nav-Presidential"
                        aria-selected="false">
                    <img src="~/newtheme/assets/images/rooms/4.jpg" alt="4">
                    Presidential Room
                </button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-Deluxe" role="tabpanel" aria-labelledby="nav-Deluxe-tab">
                <div class="container">
                    <div class="row p-0 lh-d-block">
                        <div class="col-xl-6 col-lg-12">
                            <div class="lh-room-contain">
                                <div class="lh-contain-heading">
                                    <h4>Deluxe Room</h4>
                                    <div class="lh-room-price">
                                        <h4>$30 /<span>Per night</span></h4>
                                    </div>
                                </div>
                                <div class="lh-room-size d-flex">
                                    <p>1100 sq.ft <span>|</span></p>
                                    <p>1 king Bed <span>|</span></p>
                                    <p>Up to 4 Guest</p>
                                </div>
                                <p>
                                    This is the dolor sit amet consectetur adipisicing elit. Culpa necessitatibus
                                    consequatur nostrum iure? Similique voluptatibus totam nobis exercitationem
                                    perferendis id, cupiditate at et praesentium quas? Quae amet, magni suscipit
                                    sequi.
                                </p>
                                <div class="lh-main-features">
                                    <div class="lh-contain-heading">
                                        <h4>Room Features</h4>
                                    </div>
                                    <div class="lh-room-features">
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>42 Inch flat screen TV</li>
                                                <li>In-room Safe</li>
                                                <li>Mini-refrigerator</li>
                                            </ul>
                                        </div>
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>Mini-refrigerator</li>
                                                <li>Breakfast</li>
                                                <li>complimeatary bottled water</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 p-0">
                            <div class="room-img">

                                <img src="~/newtheme/assets/images/rooms/room-1.jpg" alt="room-img" class="room-image">
                                <a href="room-details.html" class="link"><i class="fas fa-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Single" role="tabpanel" aria-labelledby="nav-Single-tab">
                <div class="container">
                    <div class="row p-0 lh-d-block">
                        <div class="col-xl-6 col-lg-12">
                            <div class="lh-room-contain">
                                <div class="lh-contain-heading">
                                    <h4>Single Room</h4>
                                    <div class="lh-room-price">
                                        <h4>$40 /<span>Per night</span></h4>
                                    </div>
                                </div>
                                <div class="lh-room-size d-flex">
                                    <p>1200 sq.ft <span>|</span></p>
                                    <p>1 king Bed <span>|</span></p>
                                    <p>Up to 6 Guest</p>
                                </div>
                                <p>
                                    This is the dolor sit amet consectetur adipisicing elit. Culpa necessitatibus
                                    consequatur nostrum iure? Similique voluptatibus totam nobis exercitationem
                                    perferendis id, cupiditate at et praesentium quas? Quae amet, magni suscipit
                                    sequi.
                                </p>
                                <div class="lh-main-features">
                                    <div class="lh-contain-heading">
                                        <h4>Room Features</h4>
                                    </div>
                                    <div class="lh-room-features">
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>42 Inch flat screen TV</li>
                                                <li>In-room Safe</li>
                                                <li>Mini-refrigerator</li>
                                            </ul>
                                        </div>
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>Mini-refrigerator</li>
                                                <li>Breakfast</li>
                                                <li>complimeatary bottled water</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 p-0">
                            <div class="room-img">
                                <img src="~/newtheme/assets/images/rooms/room-2.jpg" alt="room-img" class="room-image">
                                <a href="room-details.html" class="link"><i class="fas fa-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Super" role="tabpanel" aria-labelledby="nav-Super-tab">
                <div class="container">
                    <div class="row p-0 lh-d-block">
                        <div class="col-xl-6 col-lg-12">
                            <div class="lh-room-contain">
                                <div class="lh-contain-heading">
                                    <h4>Super Room</h4>
                                    <div class="lh-room-price">
                                        <h4>$50 /<span>Per night</span></h4>
                                    </div>
                                </div>
                                <div class="lh-room-size d-flex">
                                    <p>1350 sq.ft <span>|</span></p>
                                    <p>2 king Bed <span>|</span></p>
                                    <p>Up to 8 Guest</p>
                                </div>
                                <p>
                                    This is the dolor sit amet consectetur adipisicing elit. Culpa necessitatibus
                                    consequatur nostrum iure? Similique voluptatibus totam nobis exercitationem
                                    perferendis id, cupiditate at et praesentium quas? Quae amet, magni suscipit
                                    sequi.
                                </p>
                                <div class="lh-main-features">
                                    <div class="lh-contain-heading">
                                        <h4>Room Features</h4>
                                    </div>
                                    <div class="lh-room-features">
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>42 Inch flat screen TV</li>
                                                <li>In-room Safe</li>
                                                <li>Mini-refrigerator</li>
                                            </ul>
                                        </div>
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>Mini-refrigerator</li>
                                                <li>Breakfast</li>
                                                <li>complimeatary bottled water</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 p-0">
                            <div class="room-img">
                                <img src="~/newtheme/assets/images/rooms/room-3.jpg" alt="room-img" class="room-image">
                                <a href="room-details.html" class="link"><i class="fas fa-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-Presidential" role="tabpanel" aria-labelledby="nav-Presidential-tab">
                <div class="container">
                    <div class="row p-0 lh-d-block">
                        <div class="col-xl-6 col-lg-12">
                            <div class="lh-room-contain">
                                <div class="lh-contain-heading">
                                    <h4>Presidential Room</h4>
                                    <div class="lh-room-price">
                                        <h4>$100 /<span>Per night</span></h4>
                                    </div>
                                </div>
                                <div class="lh-room-size d-flex">
                                    <p>1500 sq.ft <span>|</span></p>
                                    <p>2 king Bed <span>|</span></p>
                                    <p>Up to 8 Guest</p>
                                </div>
                                <p>
                                    This is the dolor sit amet consectetur adipisicing elit. Culpa necessitatibus
                                    consequatur nostrum iure? Similique voluptatibus totam nobis exercitationem
                                    perferendis id, cupiditate at et praesentium quas? Quae amet, magni suscipit
                                    sequi.
                                </p>
                                <div class="lh-main-features">
                                    <div class="lh-contain-heading">
                                        <h4>Room Features</h4>
                                    </div>
                                    <div class="lh-room-features">
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>42 Inch flat screen TV</li>
                                                <li>In-room Safe</li>
                                                <li>Mini-refrigerator</li>
                                            </ul>
                                        </div>
                                        <div class="lh-cols-room">
                                            <ul>
                                                <li>Mini-refrigerator</li>
                                                <li>Breakfast</li>
                                                <li>complimeatary bottled water</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 p-0">
                            <div class="room-img">
                                <img src="~/newtheme/assets/images/rooms/room-4.jpg" alt="room-img" class="room-image">
                                <a href="room-details.html" class="link"><i class="fas fa-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Amenities -->
<section class="section-amenities padding-tb-100 bg-gray">
    <div class="container">
        <div class="banner" data-aos="fade-up" data-aos-duration="2000">
            <h2>Amenities At <span>Hotel</span></h2>
        </div>
        <div class="row mtb-m-12">
            <div class="col-md-6 col-sm-12 m-tb-12">
                <div class="lh-amenities" data-aos="fade-up" data-aos-duration="1500">
                    <div class="amenities-detail">
                        <div class="amenities-box">
                            <img src="~/newtheme/assets/images/amenities/1.jpg" alt="amenities_1" class="amenities-left-image">
                        </div>
                        <div class="amenities-box">
                            <div class="lh-amenities-in">
                                <h4 class="side-number">01</h4>
                                <div class="lh-top-dish">
                                    <img src="~/newtheme/assets/images/amenities/amenities-dish-1.svg" class="svg-img"
                                         alt="amenities-dish-1">
                                </div>
                                <div class="amenities-contain">
                                    <h4 class="amenities-heading">Our Restaurant</h4>
                                    <p>This is the dolor sit amet adipisicing elit. Ducimus corrupti sit amet tempore placeat ipsa.</p>
                                    <a href="facilities.html">Read more <i class="fas fa-arrow-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 m-tb-12">
                <div class="lh-amenities" data-aos="fade-up" data-aos-duration="2000">
                    <div class="amenities-detail">
                        <div class="amenities-box">
                            <img src="~/newtheme/assets/images/amenities/2.jpg" alt="amenities_2" class="amenities-left-image">
                        </div>
                        <div class="amenities-box">
                            <div class="lh-amenities-in">
                                <h4 class="side-number">02</h4>
                                <div class="lh-top-dish">
                                    <img src="~/newtheme/assets/images/amenities/amenities-dish-2.svg" class="svg-img"
                                         alt="amenities-dish-2">
                                </div>
                                <div class="amenities-contain">
                                    <h4 class="amenities-heading">Spa & Beauty</h4>
                                    <p>This is the dolor sit amet adipisicing elit. Ducimus corrupti sit amet tempore placeat ipsa.</p>
                                    <a href="facilities.html">Read more <i class="fas fa-arrow-up"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 m-tb-12">
                <div class="lh-amenities" data-aos="fade-up" data-aos-duration="1500">
                    <div class="amenities-detail">
                        <div class="amenities-box">
                            <div class="lh-amenities-in lh-amenities-right">
                                <h4 class="side-number">03</h4>
                                <div class="lh-top-dish">
                                    <img src="~/newtheme/assets/images/amenities/amenities-dish-4.svg" class="svg-img"
                                         alt="amenities-dish-3">
                                </div>
                                <div class="amenities-contain">
                                    <h4 class="amenities-heading">Golf & Garden</h4>
                                    <p>This is the dolor sit amet adipisicing elit. Ducimus corrupti sit amet tempore placeat ipsa.</p>
                                    <a href="facilities.html">Read more <i class="fas fa-arrow-up"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-box">
                            <img src="~/newtheme/assets/images/amenities/3.jpg" alt="amenities_3" class="amenities-right-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 m-tb-12">
                <div class="lh-amenities" data-aos="fade-up" data-aos-duration="2000">
                    <div class="amenities-detail">
                        <div class="amenities-box">
                            <div class="lh-amenities-in lh-amenities-right">
                                <h4 class="side-number">04</h4>
                                <div class="lh-top-dish">

                                    <img src="~/newtheme/assets/images/amenities/amenities-dish-3.svg" class="svg-img"
                                         alt="amenities-dish-4">
                                </div>
                                <div class="amenities-contain">
                                    <h4 class="amenities-heading">Fitness & Gym</h4>
                                    <p>This is the dolor sit amet adipisicing elit. Ducimus corrupti sit amet tempore placeat ipsa.</p>
                                    <a href="facilities.html">Read more <i class="fas fa-arrow-up"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="amenities-box">
                            <img src="~/newtheme/assets/images/amenities/4.jpg" alt="amenities_4" class="amenities-right-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Prices -->
<section class="section-prices  padding-tb-100">
    <div class="container">
        <div class="row">
            <div class="banner" data-aos="fade-up" data-aos-duration="1000">
                <h2>The Best <span>Prices</span></h2>
            </div>
            <div class="col-lg-4 rs-pb-24">
                <div class="lh-prices" data-aos="fade-up" data-aos-duration="1000">
                    <img src="~/newtheme/assets/images/prices/1.jpg" alt="prices_1" class="prices-image">
                    <div class="lh-prices-out">
                        <div class="lh-prices-in">
                            <h4 class="lh-price-dollar"><span>$</span>50<code> / Per night</code></h4>
                            <h4 class="lh-prices-heading">Standard Room</h4>
                        </div>
                        <div class="lh-prices-viwe">
                            <ul>
                                <li>
                                    <span>Bed & Breakfast</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Home Made Food</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Tour Guide</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Safety & security</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Local Heritage</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="price-buttons">
                            <a href="room-details.html" class="lh-buttons result-placeholder">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 rs-pb-24">
                <div class="lh-prices" data-aos="fade-up" data-aos-duration="2000">
                    <img src="~/newtheme/assets/images/prices/2.jpg" alt="prices_2" class="prices-image active">
                    <div class="lh-prices-out">
                        <div class="lh-prices-in">
                            <h4 class="lh-price-dollar"><span>$</span>75<code> / Per night</code></h4>
                            <h4 class="lh-prices-heading">Deluxe Room</h4>
                        </div>
                        <div class="lh-prices-viwe">
                            <ul>
                                <li>
                                    <span>Bed & Breakfast</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Home Made Food</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Tour Guide</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Safety & security</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Local Heritage</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="price-buttons">
                            <a href="room-details.html" class="lh-buttons-invers result-placeholder">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 rs-pb-24">
                <div class="lh-prices" data-aos="fade-up" data-aos-duration="3000">
                    <img src="~/newtheme/assets/images/prices/3.jpg" alt="prices_3" class="prices-image">
                    <div class="lh-prices-out">
                        <div class="lh-prices-in">
                            <h4 class="lh-price-dollar"><span>$</span>99<code> / Per night</code></h4>
                            <h4 class="lh-prices-heading">Premium Suite</h4>
                        </div>
                        <div class="lh-prices-viwe">
                            <ul>
                                <li>
                                    <span>Bed & Breakfast</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Home Made Food</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Tour Guide</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Safety & security</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                                <li>
                                    <span>Local Heritage</span>
                                    <i class="fas fa-arrow-up"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="price-buttons">
                            <a href="room-details.html" class="lh-buttons result-placeholder">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<partial name="_DatepickerPartial" />

<script>
    // Initialize the CheckInDate datepicker
    $('#CheckInDate').datepicker({
        orientation: "left",
        autoclose: true,
        format: 'dd/mm/yyyy',
        startDate: new Date(),
        todayBtn: false,
        todayHighlight: true,
    }).datepicker("setDate", "0").on('changeDate', function (ev) {
        // When the CheckInDate changes, update the start date of CheckOutDate
        var selectedDate = new Date(ev.date);
        var selectedCheckOutDate = $('#CheckOutDate').datepicker('getDate');
        var selectedDate = new Date(ev.date);
        selectedDate.setDate(selectedDate.getDate() + 1); // Add one day

        // Check if the selected CheckOutDate is lower than CheckInDate
        if (selectedCheckOutDate < selectedDate) {
            // If it's lower, set CheckOutDate to CheckInDate
            $('#CheckOutDate').datepicker('setDate', selectedDate);
        }
        $('#CheckOutDate').datepicker('setStartDate', selectedDate);

    });
    // Calculate tomorrow's date
    var tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1);
    $('#CheckOutDate').datepicker({
        orientation: "left",
        autoclose: true,
        format: 'dd/mm/yyyy',
        todayBtn: false,
        todayHighlight: true,
        startDate: tomorrow,
    }).datepicker("setDate", tomorrow);

</script>