@{
    ViewData["Title"] = "Rooms";
    // Layout = null;
}
<!-- BEGIN: Page Title Section ======================================== -->
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Customer Information</h2>
            </div>
        </div>
    </div>
</section>
<!-- END: Page Title Section ========================================= -->
<section id="featued-sec" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sub-panel">
                    <div class="sub-panel-header">
                        <h4>Basic Info</h4>
                    </div>
                    <div class="sub-panel-body">
                        <form id="frmCustomerDetails">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="FirstName">First Name:</label>
                                        <input type="text" class="form-control" onkeyup="AllowCharectersOnly(this.id)" id="FirstName" name="FirstName" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="LastName">Last Name:</label>
                                        <input type="text" class="form-control" onkeyup="AllowCharectersOnly(this.id)" id="LastName" name="LastName" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="EmailAddress">Email Address:</label>
                                        <input type="text" class="form-control" id="EmailAddress" name="EmailAddress" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="MobileNumber">Mobile Number:</label>
                                        <input type="text" class="form-control" onkeyup="AllowNumbersOnlyPhone(this.id)" id="MobileNumber" name="EmailAddress" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bottom-btn">                                   
                                        <a onclick="ConfirmAndPay()" class="btn btn-primary ">Confirm and Pay</a>
                                        <a class="btn btn-secondary" href="/view-room-details">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<partial name="_ValidationScriptsPartial" />
<script src="~/assets/plugins/sweetalert/sweetalert.js"></script>
<script src="~/assets/js/frontoffice/register.js"></script>

<script>
    $(document).ready(function () {
        page.init();
    });
</script>


