//BEGIN: Colors
$theme-primary-color: #002349;
$theme-secondary-color: #957c3d;
$color-white: #fff;
$color-light-grey: #ddd;
$color-save-btn-bg: #0e2746;
$color-save-btn-hover-bg: #0c3970;
$color-cancel-btn-bg: #e6e9ee;
$color-cancel-btn-hover-bg: #c5cfd9;
$color-add-btn-bg: #424858;
$color-add-btn-hover-bg: #586076;
//END: Colors
