//BEGIN: Rooms Section Style
.rooms-panel {
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .rooms-img {
        height: 15rem;
        display: flex;
        align-items: center;
        width: 12rem;
        img {
            max-height: 100%;
            object-fit: cover;
            height: 15rem;
        }
    }
    .room-title {
        h4 {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    .room-discription {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 1rem 0;
        width: calc(100% - 12rem);
        padding-left: 1rem;
        p {
            margin: 0;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0.5rem 0;
            li {
                color: #037f16;
                font-size: 0.8rem;
                i {
                    margin-right: 0.5rem;
                }
            }
        }
        .pricing-details {
            p {
                font-size: 0.8rem;
            }
            h5 {
                font-size: 1.5rem;
                font-weight: bold;
                strike {
                    font-size: 0.8rem;
                    font-weight: normal;
                }
            }
        }
    }
}
//END: Rooms Section Style

//BEGIN: View Room and Select Room style ====================================
.discount-ribbon {
    --f: 10px;
    --r: 15px;
    --t: 10px;
    position: absolute;
    inset: var(--t) calc(-1 * var(--f)) auto auto;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--f)),
        calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),
        0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f) / 2)
    );
    background: #bd1550;
    box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
    color: #fff;
}
.select-room {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
@media (min-width: 320px) and (max-width: 991px) {
    .select-room,
    .room-discription {
        display: initial !important;
    }
    .rooms-panel .room-title h4 {
        margin-top: 0.5rem;
    }
}
@media (min-width: 320px) and (max-width: 420px) {
    .rooms-panel {
        .rooms-img {
            width: 100%;
        }
        .room-discription {
            width: 100%;
        }
    }
}
//END: View and Select Room Styles ====================================
