/* Variables */
$title-font: "Roboto";
$text-font: "Roboto";
$text-777: #777;
$text-999: #999;
$border-radius: 15px;
$border-color: #e3e1e1;
$box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
$box-shadow-300: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$box-black-shadow-100: 0 0 10px rgba(0, 0, 0, 0.1);

$primary: #ed5b31;
$Secondary: #2b2b2d;

$white: #fff;
$black: #000;
$chinese-silver: #ccc;
$dark-charcoal: #333;
$ford-Gray: #444;
$dark-grey: #555;
$lightness: #eee;
$approx-Black: #0b0b0b;
$Dark-moderate-blue: #3b5998;
$dark-shadeof-gray: #3f3f3f;
$Deep-Sky-Blue: #03a9f4;
$Cerulean: #007ab9;
$light-red: #ff0000;
$pale-blue: #dee2e6;
$yellow: #ffc107;
$tetradic: #4b4b4c;
$Gray74: #bdbdbd;
$concrete-gray: #f3f3f3;
$ddd: #ddd;

$color-2: #3e9172;
$color-3: #677993;
$color-4: #d31111;
$color-5: #d3b41c;
$color-6: #db98b1;
$color-7: #799ffe;
$color-8: #f2709c;
$color-9: #ff8763;
$color-10: #ba946b;

$black_50: rgba(0, 0, 0, 0.05);
$black_100: rgba(0, 0, 0, 0.1);
$black_500: rgba(0, 0, 0, 0.5);
$black_600: rgba(0, 0, 0, 0.6);
$black_700: rgba(0, 0, 0, 0.7);
$black_750: rgba(0, 0, 0, 0.75);
$black_800: rgba(0, 0, 0, 0.8);
$black_900: rgba(0, 0, 0, 0.9);
$dropdown-menu_shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);

$white_200: rgb(227, 225, 225);
$white_300: rgb(128, 131, 132);
$white_700: rgba(255, 255, 255, 0.702);
$gray_500: #f7f5f1;

$footer-text: #bfbfc0;
$dark-bg: #1b1a1a;
